.blog-tags {
  // margin: .75rem 0 0;

  a {
    display: inline-block;
    padding: .5em .75em;
    background: $gray-100;
    border: 1px solid $gray-300;
    font-size: .75rem;
    text-transform: uppercase;
    margin: 0.5rem 0;

    &:not(:last-of-type) {
      margin-right: 1em;
    }
  }
}
