article.blog-post {
  background: white;

  .meta {
    span {
      font-size: .75rem;
      color: $gray-600;
      text-transform: uppercase;

      &:not(:last-of-type):after {
        content: "";
        display: inline-block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #8f8f8f;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        position: relative;
        top: -3px;
      }
    }
  }

  .blog-post-body {
    * + h1,
    * + h2,
    * + h3,
    * + h4,
    * + h5,
    * + hy {
      margin-top: 1.25em;
    }

    a {
      color: $blue;

      &:hover {
        text-decoration: underline;
      }
    }

    pre {
      margin-bottom: 1.25em;
    }
  }
}
