.projects {
  section {
    background: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    figure {
      &.wishlist {
        background: #a9001a;
      }

      &.http-requests {
        background: #1c80c3;
      }

      &.rabbitmq-native {
        background: #ff6601;
      }
    }
  }

  section:not(:last-of-type) {
    margin-bottom: 3em;
  }
}

@include media-breakpoint-up(lg) {
  .projects {
    section {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 0.25rem;

      figure {
        border-radius: 0.25rem;
      }
    }

    section:nth-child(2) {
      flex-direction: row-reverse;
    }
  }
}
